-let values = [{name: 'პროექტები', link: 'projects.html', active: false},{name: 'About Us', link: "./about.html", active: true}, {name: 'News', link: "./news.html", active: false}, {name: 'Contact', link: "contact.html", active: false}]
header#header
    //.header-darck add this to darck them
    #headerContainer
        a(href="/")
            .logo
                .logoContainer
        .filter filter
        .container
            ul.manuItems
                    each value in values
                        if value.active
                            a.activeMenuItem(href=`${value.link}`)
                                li= value.name
                        else
                            a(href=`${value.link}`)
                                li= value.name
            .lang
                .language ქართული
        .burgerMenu#menu
           .burger.burgerActive
    .mobile
        ul
            each value in values
                a(href=`${value.link}`)
                    li= value.name
        .language
            .lang ქართული
                a(href="#")



